<div class="splash-screen">
  <h1>WiseWallet</h1>
  <div>
    <a href="<%= new_user_session_path %>" class="login-btn">Login</a>
    <a href="<%= new_user_registration_path %>" class="signup-btn">Sign Up</a>
  </div>
</div>