@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #dedede;
  font-family: 'proxima-nova', sans-serif;
}

.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  gap: 10em;
}

.splash-screen h1 {
  font-size: 2.5em;
  font-weight: 800;
  font-style: italic;
}

.splash-screen div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.splash-screen .login-btn,
.splash-screen .signup-btn {
  width: 80%;
  height: 10vh;
  margin: 0 auto;
  background-color: #3778c2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 900;
  font-size: 1.5em;
}

.splash-screen .signup-btn {
  background-color: #dedede;
  color: #acacac;
}

a {
  text-decoration: none;
}

.form-container nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
  background-color: #3778c2;
  margin-bottom: 5%;
}

.form-container nav .arrow-link,
.form-container nav h2,
.form-container nav input {
  color: #fff;
  font-size: 1.2em;
  font-weight: 800;
}

.form-container nav input {
  border: none;
  background-color: transparent;
}

.form-container .field input {
  width: 100%;
  height: 10vh;
  padding: 2%;
  outline: none;
  margin-bottom: 1%;
  font-size: 1.5em;
  font-weight: 800;
}

.form-container .forget {
  width: 100%;
  text-align: center;
  margin-top: 2%;
}

.new-cate a {
  border: 2px solid #fff;
  width: 50%;
  height: 10vh;
  display: flex;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}

.sign-out a {
  color: #fff;
  font-size: 1.2em;
  font-weight: 900;
}

.space a {
  width: 70%;
  padding: 0 1%;
}

.form-container .forget a {
  font-size: 1.6em;
  font-weight: 800;
  color: #acacac;
}

#categories,
.cate-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 76vh;
}

.cate-container {
  width: 90%;
  display: flex;
  gap: 1em;
  background-color: #fff;
}

.cate-container div {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  height: auto;
}

.new-cate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5% 0;
  background-color: #5fb523;
}

.owner {
  width: 100%;
  padding: 5% 5%;
  margin-top: -5%;
}

.owner p {
  font-size: 1.6em;
  font-weight: 900;
}

.total-d {
  margin: 1% 5%;
  font-size: 1.3em;
}

.trans {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#details {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.trans h1 {
  font-size: 1em;
}

.space {
  bottom: 0;
  position: fixed;
}
