<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>|
  <%= link_to "Add transection", new_category_detail_path(@category) %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
