<div id="<%= dom_id detail %>">
  <p>
    <strong>Name:</strong>
    <%= detail.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= detail.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= detail.user_id %>
  </p>

</div>
